<app-navbar></app-navbar>
<div class="container jumbotron">
  <div class="row">
    <div class="col-md-6 img">
        <blockquote>
            <h2>Nombre de usuario: {{usuario.nombreusuario}}</h2>
            <small><cite title="Source Title">Rol: {{usuario.rol.name}} <i class="icon-map-marker"></i></cite></small>
        </blockquote>
      <img src="https://www.pinclipart.com/picdir/big/164-1640714_user-symbol-interface-contact-phone-set-add-sign.png"  alt="" class="img-round">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h2>Información personal</h2></blockquote>
      <p>Nombre: {{usuario.nombre}}</p>
      <p>Apellidos: {{usuario.apellidos}}</p>
      <p>Población: {{usuario.ciudad}}</p>
      <p>Número de teléfono: {{usuario.telefono}}</p>
    </div>
  </div>
</div>