
<app-navbar></app-navbar>
<div class="container jumbotron">
  <div class="d-flex justify-content-center row">
    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Para filtrar la tabla por el estado del artículo, seleccione una de las opciones que se muestran a continuación</p>
      <mat-form-field appearance="fill" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <mat-label>Filtrar artículos: </mat-label>
          <mat-select name="rol" [(ngModel)]="estado">
              <mat-option [value]="0">MOSTRAR TODOS</mat-option>
              <mat-option [value]="1">ARTÍCULOS EN VENTA</mat-option>
              <mat-option [value]="2">ARTÍCULOS DESCATALOGADOS</mat-option>
          </mat-select>
      </mat-form-field>
      <div class="d-flex justify-content-center">
          <form class="example-form form-inline">
            <mat-form-field class="example-full-width">
              <i class="fas fa-search search"></i>
              <mat-label>Busca un artículo aquí</mat-label>                
              <input matInput class="input-search" placeholder="Buscar artículo...">
            </mat-form-field>
        </form>
      </div>
  </div>
    <div class="container ">
      <div class="col-12 table-responsive">
        <div class="mat-elevation-z8">
          <table  *ngIf="estado==0" mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>        
            <ng-container matColumnDef="CÓDIGO">
              <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
              <td mat-cell *matCellDef="let articulo"> {{articulo.codigoarticulo}} </td>
            </ng-container>
        
            <ng-container matColumnDef="DESCRIPCIÓN">
              <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
              <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
            </ng-container>
        
            <ng-container matColumnDef="PRECIO">
              <th mat-header-cell *matHeaderCellDef> PRECIO </th>
              <td mat-cell *matCellDef="let articulo"> {{articulo.precio}} </td>
            </ng-container>

            <ng-container matColumnDef="ESTADO">
              <th mat-header-cell *matHeaderCellDef> ESTADO </th>
              <td mat-cell *matCellDef="let articulo"> 
                <h4 *ngIf="articulo.estado==1">EN VENTA</h4>
                <h4 *ngIf="articulo.estado==2">DESCATALOGADO</h4> </td>
            </ng-container>

            <ng-container matColumnDef="CREADOR">
              <th mat-header-cell *matHeaderCellDef> CREADOR </th>
              <td mat-cell *matCellDef="let articulo"> {{articulo.creador.nombreusuario}} </td>
            </ng-container>

            <ng-container matColumnDef="ACCIONES">
              <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
              <td mat-cell *matCellDef="let articulo"> 
                <button type="button" class="btn btn-danger" (click)="openDialog(articulo.codigoarticulo)">ELIMINAR <i class="fas fa-trash"></i></button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
          </table>

        <!--TABLA FILTRADA POR ARTÍCULOS EN VENTA-->
          <table  *ngIf="estado==1" mat-table [dataSource]="dataSourceVenta" class="mat-elevation-z8" #tabla2>        
              <ng-container matColumnDef="CÓDIGO">
                <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
                <td mat-cell *matCellDef="let articulo"> {{articulo.codigoarticulo}} </td>
              </ng-container>
          
              <ng-container matColumnDef="DESCRIPCIÓN">
                <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
                <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
              </ng-container>
          
              <ng-container matColumnDef="PRECIO">
                <th mat-header-cell *matHeaderCellDef> PRECIO </th>
                <td mat-cell *matCellDef="let articulo"> {{articulo.precio}} </td>
              </ng-container>
  
              <ng-container matColumnDef="ESTADO">
                <th mat-header-cell *matHeaderCellDef> ESTADO </th>
                <td mat-cell *matCellDef="let articulo"> 
                  <h4 *ngIf="articulo.estado==1">EN VENTA</h4>
                  <h4 *ngIf="articulo.estado==2">DESCATALOGADO</h4> </td>
              </ng-container>
  
              <ng-container matColumnDef="ACCIONES">
                <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                <td mat-cell *matCellDef="let articulo">
                    <button type="button" class="btn btn-danger" (click)="openDialog(articulo.codigoarticulo)">ELIMINAR <i class="fas fa-trash"></i></button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>


            <table  *ngIf="estado==2" mat-table [dataSource]="dataSourceDesc" class="mat-elevation-z8" #tabla3>        
                <ng-container matColumnDef="CÓDIGO">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> CÓDIGO </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.codigoarticulo}} </td>
                </ng-container>
            
                <ng-container matColumnDef="DESCRIPCIÓN">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> DESCRIPCIÓN </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
                </ng-container>
            
                <ng-container matColumnDef="PRECIO">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> PRECIO </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.precio}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ESTADO">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> ESTADO </th>
                  <td mat-cell *matCellDef="let articulo"> 
                    <h4 *ngIf="articulo.estado==1">EN VENTA</h4>
                    <h4 *ngIf="articulo.estado==2">DESCATALOGADO</h4> </td>
                </ng-container>
    
                <ng-container matColumnDef="CREADOR">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> CREADOR </th>
                  <td mat-cell *matCellDef="let articulo"> {{articulo.creador.nombreusuario}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ACCIONES">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> ACCIONES </th>
                  <td mat-cell *matCellDef="let articulo">
                      <button type="button" class="btn btn-danger" (click)="openDialog(articulo.codigoarticulo)">ELIMINAR <i class="fas fa-trash"></i></button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
              </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>