.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, .table-image th{
      vertical-align: middle;
  }
  button{
      margin-left: 10px;
  }
  button a {      
    color: white;
    font-size:16px;
  }
  table{
      font-size:16px;
  }
  p{
    font-size:11px;
    font-style:italic;
  }
  mat-form-field{  
    margin-left:20px;
    margin-top:1px;
  }
  mat-label{
    color:black;
    font-size:13px;
    margin-left:20px;
  }
  .search{
    color:black;
    margin-top:3px;
  }
  ::ng-deep.mat-form-field-underline {
    margin-top:0px;
    background-color: black !important;
  }
  .input-search{
    color:black;
    font-size:16px;
  }
  table {
    width: 100%;
  }