<app-navbar></app-navbar>
<div class="container">
    <div class="form_add_user">
        <h2 class="text-center">AÑADIR REDUCCIÓN</h2>
        <div class="vertical-separator">  </div>
        <div class="vertical-separator">  </div>
        <form method="POST" action = "" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-4 mt-5">
            <label for="Nombre"><b>* Código del artículo (numérico)</b></label>
            <input type="number" class="form-control" name="codigoarticulo" id="codigoarticulo" value="{{codigoarticulo}}" readonly>
            </div>
            <div class="form-group col-md-6 mt-5">
                <label for="Precio"><b>Cantidad (%)</b></label>
                <input type="number" [(ngModel)]="cantidad" class="form-control" name="cantidad" id="cantidad" placeholder="EJ: 50" min="0" step="any" required>
              </div>
            
          </div>
          <div class="form-row">
              <div class="form-group form-control-lg mt-5">
                  <mat-form-field appearance="fill">
                      <mat-label>Elige una fecha de inicio</mat-label>
                      <input matInput [formControl]="inicio_datepicker" [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="form-group form-control-lg mt-5">
                  <mat-form-field appearance="fill">
                      <mat-label>Elige una fecha de fin</mat-label>
                      <input matInput [formControl]="fin_datepicker" [matDatepicker]="picker2">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            
          <div class="container mt-5">
              <div class="row">                  
                <button type="submit" class="text-center" name="store-activity" class="btn btn-primary" (click)="saveReduction()">Guardar</button>
              </div>
              <div class="error-msg mt-5 bg-danger text-center" *ngIf="validDate==false"><h4>La fecha de fin no puede ser inferior a la de inicio</h4></div>
              <div *ngIf="validReduction==false" class="error-msg mt-5 bg-danger"><h4>No se puede añadir una reducción al artículo porque ya tiene una vigente.
                  Una vez finalizada la reducción en curso, podrá asociar otra al artículo.</h4></div>
          </div>
        </form>

    </div>
</div>