<app-navbar></app-navbar>
<div class="container jumbotron">
        <!-- Portfolio Item Heading -->
    <h3 class="my-4 text-center">INFORMACIÓN DEL ARTÍCULO</h3>
    
    <!-- Portfolio Item Row -->
    <div class="row">
    
        <div class="col-md-8">
            <h2>DESCRIPCIÓN DEL ARTÍCULO</h2>
        <p>{{articulo.descripcion}}</p>
        </div>
    
        <div class="col-md-8">           
        <h2 class="my-3">DETALLES DEL ARTÍCULO</h2>
        <ul>
            <li><p>CÓDGIO: {{articulo.codigoarticulo}}</p></li>
            <li *ngIf="articulo.estado==1"><p>ESTADO: EN VENTA</p></li>
            <li *ngIf="articulo.estado==2"><p>ESTADO: DESCATALOGADO</p></li>
            <li><p>PRECIO: {{articulo.precio}} €</p></li>
        </ul>
        </div>      
    </div>

    <hr>
    <h3 class="text-center">Seleccione un proveedor del listado para asociarlo al artículo</h3>
    <div class="container mat-container">
        <div class="container d-flex justify-content-center">
            <mat-form-field class="text-center mat-form-field-container">
                <mat-label>Proveedores disponibles</mat-label>
                <mat-select [(ngModel)]="proveedor_asociado">
                    <mat-option *ngFor="let p of all_proveedores_disponibles" [value]="p.nombre">{{p.nombre}}</mat-option>
                </mat-select>
            </mat-form-field> 
            <button type="submit" name="store-activity" class="btn btn-primary text-center" (click)="asociateSupplier()">Asociar proveedor</button> 
        </div>
    </div> 
</div>