
<!--<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h3>SERVICIO DE AUTENTICACIÓN</h3>
    </div>
    <form>
      <div class="text-content"><i class="fas fa-user"></i><input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario"></div>
      <div class="text-content"><i class="fas fa-lock"></i> <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña"></div>
      <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Olvidé mi contraseña</a>
    </div>

  </div>
</div>
-->
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>