
<app-navbar></app-navbar>
<div class="container jumbotron">
  <button type="button" class="btn btn-success text-right"><a [href]="add_url">Añadir artículo</a></button>
  <div class="container">
    <div class="col-12 table-responsive">
      <table mat-table [dataSource]="dataSource" class="jumbotron" #tabla1>        
        <ng-container matColumnDef="CÓDIGO">
          <th mat-header-cell *matHeaderCellDef class="text-center"> CÓDIGO </th>
          <td mat-cell *matCellDef="let articulo"> {{articulo.codigoarticulo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="DESCRIPCIÓN">
          <th mat-header-cell *matHeaderCellDef class="text-center"> DESCRIPCIÓN </th>
          <td mat-cell *matCellDef="let articulo" class="text-center"> {{articulo.descripcion}} </td>
        </ng-container>
    
        <ng-container matColumnDef="PRECIO">
          <th mat-header-cell *matHeaderCellDef class="text-center"> PRECIO </th>
          <td mat-cell *matCellDef="let articulo" class="text-center"> {{articulo.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="ESTADO">
          <th mat-header-cell *matHeaderCellDef class="text-center"> ESTADO </th>
          <td mat-cell *matCellDef="let articulo" class="text-center"> 
            <h4 *ngIf="articulo.estado==1" >EN VENTA</h4>
            <h4 *ngIf="articulo.estado==2">DESCATALOGADO</h4> </td>
        </ng-container>

        <ng-container matColumnDef="ACCIONES">
          <th mat-header-cell *matHeaderCellDef class="text-center"> ACCIONES </th>
          <td mat-cell *matCellDef="let articulo" > 
              <button type="button" class="btn btn-primary" (click)="showDetailsProduct(articulo.codigoarticulo)">VER DETALLES <i class="far fa-eye"></i></button>
              <button *ngIf="articulo.estado==1" type="button" class="btn btn-warning" (click)="editProduct(articulo.codigoarticulo)">EDITAR <i class="fas fa-edit"></i></button>
              <button *ngIf="articulo.estado==2" type="button" class="btn btn-warning" disabled>DESCATALOGADO <i class="fas fa-ban"></i></button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="jumbotron"></mat-paginator>
    </div>
  </div>
</div>