
<app-navbar></app-navbar>
<div class="container jumbotron">
    <button type="button" class="btn btn-success text-right"><a [href]="add_url">Añadir artículo</a></button>
    <div class="container">
      <div class="col-12 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">CÓDIGO</th>
              <th scope="col">DESCRIPCIÓN</th>
              <th scope="col">PRECIO</th>
              <th scope="col">ESTADO</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articulo of articulos">
              <th scope="row">{{articulo.codigoarticulo}}</th>
              <td>{{articulo.descripcion}}</td>
              <td>{{articulo.precio}} €</td>
              <td *ngIf="articulo.estado==2">DESCATALOGADO</td>
              <td *ngIf="articulo.estado==1">EN VENTA</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="showDetailsProduct(articulo.codigoarticulo)">VER DETALLES <i class="far fa-eye"></i></button>
                <button *ngIf="articulo.estado==1" type="button" class="btn btn-warning" (click)="editProduct(articulo.codigoarticulo)">EDITAR <i class="fas fa-edit"></i></button>
                <button *ngIf="articulo.estado==2" type="button" class="btn btn-warning" disabled>PRODUCTO DESCATALOGADO <i class="fas fa-ban"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>