<div class="container">
        <header class="jumbotron">
            <div class="container">
                <p>Lista de artículos creados</p>            
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th><h4>CÓDIGO</h4></th>
                      <th><h4>DESCRIPCIÓN</h4></th>
                      <th><h4>PRECIO</h4></th>
                      <th><h4>ESTADO</h4></th>
                      <th scope="row"><h4 class='text-center'>ACCIONES</h4></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let articulo of articulos">
                      <td><h4>{{articulo.codigoarticulo}}</h4></td>
                      <td><h4>{{articulo.descripcion}}</h4></td>
                      <td><h4>{{articulo.precio}} €</h4></td>
                      <td>
                          <h4 *ngIf="articulo.estado==2">DESCATALOGADO</h4>
                          <h4 *ngIf="articulo.estado==1">EN VENTA</h4>
                        </td>
                        <td colspan="15">
                               <button class="bg-warning">EDITAR  <i class="fas fa-edit"></i></button>
                               <button class="bg-info">VER DETALLES  <i class="fas fa-th-list"></i></button>
                        </td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
        </header>
      </div>