<app-navbar></app-navbar>
<div class="container jumbotron">
    <button type="button" class="btn btn-success text-right"><a routerLink="/suppliers/add">Registrar Proveedor</a></button>
    <div class="btn-group btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="suplierList()">Listado de proveedores</button>
          <button type="button" class="btn btn-primary" (click)="optionArticlesCheapest()">Ver artículos más baratos de proveedores</button>
          <button type="button" class="btn btn-primary" (click)="optionArticlesReduction()" >Ver proveedores asociados a artículos reducidos</button>
        </div>
    </div>
    <div class="container">
      <div class="col-12 table-responsive" *ngIf="opcion_articulos==false && opcion_reduccion==false">
        <h4>LISTADO DE PROVEEDORES</h4>
        <table mat-table [dataSource]="dataSource" class="jumbotron" matSort>        
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> NOMBRE </th>
            <td mat-cell *matCellDef="let proveedor"> {{proveedor.nombre}} </td>
          </ng-container>
      
          <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> PAÍS </th>
            <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.pais}} </td>
          </ng-container>      
          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="jumbotron"></mat-paginator>
    </div>

    <div class="col-12 table-responsive" *ngIf="opcion_articulos==true">
        <h4>ARTÍCULOS MÁS BARATOS ASOCIADOS A LOS PROVEEDORES DE LA LISTA</h4>
        <table mat-table [dataSource]="dataSourceArticles" class="jumbotron" matSort>        
          <ng-container matColumnDef="codigoarticulo">
            <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> CÓDIGO </th>
            <td mat-cell *matCellDef="let articulo"> {{articulo.codigoarticulo}} </td>
          </ng-container>
      
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef class="text-right" mat-sort-header> DESCRIPCIÓN </th>
            <td mat-cell *matCellDef="let articulo" class="text-center"> {{articulo.descripcion}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas2;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="jumbotron"></mat-paginator>
    </div>

    <div class="col-12 table-responsive" *ngIf="opcion_reduccion==true">
        <div *ngIf="proveedores_articulos_reducidos.length==0"><h4>No existen proveedores que tengan asociados artículos rebajados</h4></div>
        <div  *ngIf="proveedores_articulos_reducidos.length>0">
            <h4>PROVEEDORES ASOCIADOS A ARTÍCULOS CON PRECIO REBAJADO</h4>
            <table mat-table [dataSource]="dataSource3" class="jumbotron" matSort>        
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> NOMBRE </th>
                <td mat-cell *matCellDef="let proveedor"> {{proveedor.nombre}} </td>
              </ng-container>
          
              <ng-container matColumnDef="pais">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> PAÍS </th>
                <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.pais}} </td>
              </ng-container>      
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons class="jumbotron"></mat-paginator>
        </div>
        
    </div>
    </div>
  </div>
